.inp{
    width: 500px;
  }
  .main{
      border: 2px solid black;
      width: 30%;
      margin: auto;
      padding: 5px;
      background-color: rgb(159, 183, 222);
      text-align: center;
  }
  