<button type="button" class="btn" mat-raised-button color="accent" (click)="OwnerSuccess()" routerLink="/owner/ownerlanding" >Back</button>
<div class="main">
    <h2 style="text-align: center;">Login here </h2>

    <form [formGroup]="signInForm" autocomplete="off">
        <label>Enter Name</label><br>
        <input  type="text" formControlName="userName" placeholder="Enter your name"><br><br>

      
        <label>Enter Password<label><br>
        <input type="password" formControlName="userPass" placeholder="Enter password"><br><br>

        <button [disabled]="signInForm.invalid" class="btn" 
          (click)="signInData(signInForm.value)"  >Sign in</button>
          <div>Not a member?<a routerLink="/adminsignup" > Signup now  </a> </div>
    <!-- </form>
</div>
 -->

