
<div class="main">
    <button type="button" class="btn" mat-raised-button color="accent" (click)="back()" routerLink="/home">Back</button>
    <button type="button" class="btn1" mat-raised-button color="primary" (click)="AdminSignIn()" routerLink="/admin/adminsignin">SignIn</button>
    <button type="button" class="btn2" mat-raised-button color="warn" (click)="AdminSignUp()" routerLink="/admin/adminsignup">SignUp</button>
    <button type="button" class="btn3" mat-raised-button color="accent" (click)="AdminSuccess()" routerLink="/admin/hotellist" >ViewHotelList</button>

    </div>
    

