.main{
     background-image: url("~src/assets/Images/bedroom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
}
.btn{
    position: relative;
    background-color:darkmagenta;
    margin-left: 20px;
    padding: 8px 25px;
    border: none;
    color: white;
}

.btn1{
    position: relative;
    background-color:green;
    margin-left: 20px;
    padding: 8px 25px;
    border: none;
    color:white;
}
.btn2{
    position: relative;
    background-color: red;
    margin-left: 20px;
    padding: 8px 25px;
    border: none;
    color: white;
}
.btn3{
    position: relative;
    background-color:blue;
    margin-left: 20px;
    padding: 8px 25px;
    border: none;
    color: white;
}
.btn4{
    position: relative;
    background-color:darkmagenta;
    margin-left: 20px;
    padding: 8px 25px;
    border: none;
    color: white;
}