.inp{
    width: 250px;
  }
  .main{
      border: 2px solid rgb(196, 230, 6);
      width: 20%;
      margin: auto;
      text-align: center;
      padding: 5px;
      background-color:rgb(247, 210, 231);
      border-radius: 40px;
  }
  input[type=text]{border-radius: 20px;

  }