.main {
     background-image: url("~src/assets/Images/exterior.jpg");
    // opacity: 0.5px;
     height: 50rem;
}
     


// body{
//     background-image: url('~src/assets/Images/inern.webp');
//     background-repeat: no-repeat;
//     background-size:cover;
// }


.btn{
    position: relative;
    background-color:green;
    margin-left: 20px;
    padding: 8px 25px;
    border: none;
    color:white;
}
.btn1{
    position: relative;
    background-color: red;
    margin-left: 20px;
    padding: 8px 25px;
    border: none;
    color: white;
}
.btn2{
    position: relative;
    background-color:blue;
    margin-left: 20px;
    padding: 8px 25px;
    border: none;
    color: white;
}
