<div  class="main1">
<button type="button" class="btn" mat-raised-button color="warn" (click)="userSuccess()" routerLink="/user/userlanding" >Back</button>
<div class="main">
    <h2 style="text-align:center ;">Sign up to create an account</h2>
    <form [formGroup]="signUpForm!" autocomplete="off">
     
            <label style="color: white;">Enter Name</label><br>
            <input  type="text" formControlName="userName" placeholder="Enter your name"><br><br>
            
            <label style="color: white;">Enter Email</label><br>
            <input  type="text" formControlName="userEmail" placeholder="Enter your email"><br><br>
            
            <label style="color: white;">Enter Mobile</label><br>
            <input  type="text" formControlName="userMob" placeholder="Enter your mobile number"><br><br>
            
        <label style="color: white;">Select Gender</label><br>
        <input type="radio" value="male" formControlName="gender"><b style="color: white;">Male</b> <br><br>
        <input type="radio" value="female" formControlName="gender"><b style="color: white;">Female</b> <br><br>

        
            <label style="color: white;">Enter Password</label><br>
            <input  type="password" formControlName="userPass" placeholder="Enter password" style="border-radius: 20px;"><br><br>
           
        <label>
            <input type="checkbox" formControlName="userCheck" required > <b style="color: white;">Accept Terms & Condition</b>
        </label>

        <div style="text-align: center;">
            <button [disabled]="signUpForm.invalid" class="btn" mat-raised-button color="accent"
                (click)="postUserdata(signUpForm.value)" >Sign up</button>
        </div><br>

        <div style="text-align: center;" style="color: white;">Already have member?<a routerLink="/usersignin"> Signin here </a> </div>
    </form>
</div>
</div>